{
  "presets": [
    ["@babel/preset-typescript"],
    ["@babel/preset-env"],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@constants": "./src/constants",
        "@ui": "./src/ui",
        "@utils": "./src/utils",
        "@components": "./src/components",
        "@styled": "./node_modules/@n3e/styled"
      }
    }]
  ]
}